<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hello, world.</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="James Dillon">
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite|Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <div id="index-body">
    <h1 id="blog-title">Chatsubo || ちゃつぼ</h1>

    ${postList}
  </div>

</body>
</html>
