<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hello, world.</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="James Dillon">
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite|Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <div id="index-body">
    <div id="blog-title">
      <span class="en">
        <a href="index.html">Chatsubo</a>
      </span>
      <span class="jp">
        ちゃつぼ
      </span>
    </div>

    <hr />

    <section id="about-me">
      <img src="https://avatars3.githubusercontent.com/u/14792774" />
      <p>Hello. This is where I sometimes write stuff. Don't expect anything to be coherent.</p>
    </section>

    ${postList}
  </div>

</body>
</html>
